<div class="mb-3">
    <label for="{{config.id}}" class="form-label">{{config.label}}<span *ngIf="config.rules.required" class="text-danger"> *</span></label>
    <select 
        required="{{config.rules.required}}"
        [(ngModel)]="value" 
        #input="ngModel"
        name="{{config.id}}"
        class="form-select" 
        id="{{config.id}}">          
        <option [value]="null">Select an option</option>
        <ng-container *ngIf="config.options">
            <option *ngFor="let option of config.options" value="{{option.value}}">{{option.label}}</option>
        </ng-container>
    </select>
</div>

<ng-container *ngIf="input && (input.dirty || input.touched)">
    <div *ngIf="input.errors?.['required']" class="text-danger mb-3">
        {{config.label}} is required.
    </div>
</ng-container>

<code *ngIf="value && debug">
    {{
        value | json
    }}
</code>  
